
/* Colors ------------------------------------------------------------------- */
$navbar-color: #343434;
$secondary-color: #343434;
$primary-color: #6400ff;

/* Selectors ---------------------------------------------------------------- */
$heading-selectors: ('h1, h2, h3, h4, h5, h6');
$button-selectors: ('button, .button, [role=button], [type=button], [type=submit], [type=reset]');
